{% set origen = (origen is defined) ? origen : '' %}

{# dump(sess_modulos) #}
{% if 'home' in sess_modulos %}
	<li {% if origen == 'acceso_home' %}class='active'{% endif %}>
		<a class="ajax-link" href="{{ path("homepage") }}"><i class="icon-home"></i><span class="hidden-tablet"> Inicio</span></a>
	</li>
{% endif %}
<li>
    <a class="ajax-link" href="#"><i class="icon-list-alt"></i><span class="hidden-tablet"> Proyectos</span></a>
</li>
    
<li {% if origen == 'instrumentos' %}class='active'{% endif %}>
    <a class="ajax-link" href="{{ path("instrumentos") }}"><i class="icon-tasks"></i><span class="hidden-tablet"> Instrumentos</span></a>
</li>

