.tx-felogin-pi1 LABEL {
	DISPLAY: block
}
.tx-vgetagcloud-pi1 {
	LINE-HEIGHT: 110%; BACKGROUND-COLOR: #fff
}
.tx-vgetagcloud-pi1 UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.tx-vgetagcloud-pi1 LI {
	DISPLAY: inline; FLOAT: left
}
.tx-vgetagcloud-pi1 LI A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; TEXT-DECORATION: none; PADDING-TOP: 4px
}
.tx-pbsurvey-pi1 DIV {
	MARGIN-BOTTOM: 10px
}
.tx-pbsurvey-pi1 .pagenumbering {
	POSITION: relative; HEIGHT: 15px; FONT-SIZE: 60%
}
.tx-pbsurvey-pi1 .barcontainer {
	Z-INDEX: 6; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; BORDER-LEFT: #000 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 100px; HEIGHT: 15px; BORDER-TOP: #000 1px solid; RIGHT: 0px; BORDER-RIGHT: #000 1px solid
}
.tx-pbsurvey-pi1 .bar {
	Z-INDEX: 4; POSITION: absolute; BACKGROUND-COLOR: #ccf; HEIGHT: 15px; LEFT: 0px
}
.tx-pbsurvey-pi1 .bartext {
	Z-INDEX: 5; POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100px; HEIGHT: 15px; LEFT: 0px
}
.tx-pbsurvey-pi1 .pageHeader {
	COLOR: #039; FONT-SIZE: 150%; FONT-WEIGHT: bold
}
.tx-pbsurvey-pi1 .pageIntroduction {
	
}
.tx-pbsurvey-pi1 .survey_item {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 20px
}
.tx-pbsurvey-pi1 .itemform {
	
}
.tx-pbsurvey-pi1 .question {
	FONT-SIZE: 120%; FONT-WEIGHT: bold
}
.tx-pbsurvey-pi1 .questionNumber {
	
}
.tx-pbsurvey-pi1 .questionSubtext {
	FONT-SIZE: 80%
}
.tx-pbsurvey-pi1 .required {
	COLOR: red; VERTICAL-ALIGN: super
}
.tx-pbsurvey-pi1 .survey_error {
	COLOR: red
}
.tx-pbsurvey-pi1 .additional_ver {
	MARGIN-LEFT: 20px
}
.tx-pbsurvey-pi1 .matrix {
	WIDTH: 100%
}
.tx-pbsurvey-pi1 .matrix .surveyrow_even {
	BACKGROUND-COLOR: #ccf
}
.tx-pbsurvey-pi1 .matrix .columnFirst {
	TEXT-ALIGN: left; FONT-WEIGHT: bold
}
.tx-pbsurvey-pi1 .matrix .columnNext {
	TEXT-ALIGN: center
}
DIV.tx-flvplayer2-pi1 {
	FONT-SIZE: x-small
}
DIV#flvplayer2_middle {
	TEXT-ALIGN: center; MARGIN: 1em auto
}
DIV#flvplayer2_left {
	TEXT-ALIGN: center; MARGIN: 0px auto 0px 0px
}
DIV#flvplayer2_right {
	TEXT-ALIGN: center; MARGIN: 0px 0px 0px auto
}
DIV.csc-textpic-caption-c .csc-textpic-caption {
	TEXT-ALIGN: center
}
DIV.csc-textpic-caption-r .csc-textpic-caption {
	TEXT-ALIGN: right
}
DIV.csc-textpic-caption-l .csc-textpic-caption {
	TEXT-ALIGN: left
}
DIV.csc-textpic DIV.csc-textpic-imagecolumn {
	DISPLAY: inline; FLOAT: left
}
DIV.csc-textpic-border DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
	BORDER-BOTTOM: #000 2px solid; BORDER-LEFT: #000 2px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #000 2px solid; BORDER-RIGHT: #000 2px solid; PADDING-TOP: 0px
}
DIV.csc-textpic-border DIV.csc-textpic-single-image IMG {
	BORDER-BOTTOM: #000 2px solid; BORDER-LEFT: #000 2px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #000 2px solid; BORDER-RIGHT: #000 2px solid; PADDING-TOP: 0px
}
DIV.csc-textpic-imagewrap {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.csc-textpic IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image {
	FLOAT: left
}
DIV.csc-textpic DIV.csc-textpic-imagewrap UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image {
	FLOAT: left
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT {
	FLOAT: none
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD {
	FLOAT: none
}
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
DL.csc-textpic-image {
	MARGIN: 0px
}
DL.csc-textpic-image DT {
	MARGIN: 0px; DISPLAY: inline
}
DL.csc-textpic-image DD {
	MARGIN: 0px
}
DIV.csc-textpic-clear {
	CLEAR: both
}
DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-RIGHT: 10px
}
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-RIGHT: 10px
}
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-RIGHT: 10px
}
DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-LEFT: 10px
}
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-LEFT: 10px
}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-LEFT: 10px
}
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
	DISPLAY: inline; MARGIN-LEFT: 10px
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption {
	MARGIN: 0px
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG {
	MARGIN: 0px; VERTICAL-ALIGN: bottom
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image {
	MARGIN-BOTTOM: 10px
}
DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow {
	DISPLAY: block; MARGIN-BOTTOM: 10px
}
DIV.csc-textpic DIV.csc-textpic-imagerow {
	CLEAR: both
}
DIV.csc-textpic DIV.csc-textpic-single-image IMG {
	MARGIN-BOTTOM: 10px
}
* + HTML DIV.csc-textpic DIV.csc-textpic-imagerow .csc-textpic-image {
	MARGIN-BOTTOM: 0px
}
* + HTML DIV.csc-textpic DIV.csc-textpic-imagerow {
	MARGIN-BOTTOM: 10px
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol {
	MARGIN-LEFT: 0px !important
}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol {
	MARGIN-RIGHT: 0px !important
}
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap {
	MARGIN-RIGHT: 10px !important
}
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
	MARGIN-RIGHT: 10px !important
}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap {
	MARGIN-LEFT: 10px !important
}
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
	MARGIN-LEFT: 10px !important
}
DIV.csc-textpic-above DIV.csc-textpic-text {
	CLEAR: both
}
DIV.csc-textpic-center {
	TEXT-ALIGN: center
}
DIV.csc-textpic-center DIV.csc-textpic-imagewrap {
	MARGIN: 0px auto
}
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {
	TEXT-ALIGN: left
}
DIV.csc-textpic-center DIV.csc-textpic-text {
	TEXT-ALIGN: left
}
DIV.csc-textpic-right DIV.csc-textpic-imagewrap {
	FLOAT: right
}
DIV.csc-textpic-right DIV.csc-textpic-text {
	CLEAR: right
}
DIV.csc-textpic-left DIV.csc-textpic-imagewrap {
	FLOAT: left
}
DIV.csc-textpic-left DIV.csc-textpic-text {
	CLEAR: left
}
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap {
	FLOAT: left
}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap {
	FLOAT: right
}
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {
	FLOAT: right; CLEAR: both
}
* HTML DIV.csc-textpic-intext-right-nowrap .csc-textpic-text {
	HEIGHT: 1%
}
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {
	FLOAT: left; CLEAR: both
}
* HTML DIV.csc-textpic-intext-left-nowrap .csc-textpic-text {
	HEIGHT: 1%
}
* HTML .csc-textpic-intext-left OL {
	HEIGHT: 1%
}
* HTML .csc-textpic-intext-left UL {
	HEIGHT: 1%
}
DIV.csc-textpic DIV.csc-textpic-imagerow-last {
	MARGIN-BOTTOM: 0px
}
.csc-textpic-intext-left OL {
	PADDING-LEFT: 40px; OVERFLOW: auto
}
.csc-textpic-intext-left UL {
	PADDING-LEFT: 40px; OVERFLOW: auto
}
.filelinks DIV {
	PADDING-LEFT: 25px; MARGIN-BOTTOM: 10px; BACKGROUND: url(data:image/gif;base64,R0lGODlhEgAQAPEDALKysgAAAP///wAAACH5BAUAAAMALAAAAAASABAAQAI0nBepG+chopwigEezxXnuA3VV5SCi9BnhmSLM265aU8qUcoFnFO9VrvL1dkMW8ABIKpfJAgA7) no-repeat left top
}
.filelinks SPAN {
	DISPLAY: block
}
.filelinks .filecount {
	DISPLAY: block; MARGIN-BOTTOM: 5px
}
.filelinks A {
	COLOR: #000; TEXT-DECORATION: none
}
.filelinks .ai {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQaACAgIBUxEyJQHiliJShcIz8/PyBKHCoqKvDw8FFRUR1EGuDg4Bo9F4ODgzZ/MCVWISVYIZCQkNDQ0KGhobKyslRUVCpiJUKcO////wAAAP///wAAAAAAAAAAAAAAAAAAACH5BAEAABoALAAAAAASABAAAAVxoCZqWWme2ahmV+u6pSqy75th6VrbJaXvNt+IBmxlKJWkcsmsHCuTCQZjsVCr2OozOhUQMA9CVouUNm4CDEMwtmynUwUmYGi/E7fAvD5+VgoAgQAHBwVNRyISERkDEAMDDjuIGggLKJc9MhoUnJ2enCEAOw==) !important
}
.filelinks .ani {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///yoqKhUxEzZ/MCJQHihcIxIrEBo9FyVWIT8/PyBKHBAlDlFRUfDw8CUlJTo6OpCQkCVYIeDg4IODgxg3FR1EGtDQ0DU1NSliJaGhoSpiJVRUVLKyskKcOwAAACAgICH5BAUAACAALAAAAAASABAAAAaMQJAQ5Ckaj56h0tNpOp1FpZD5fHoAyWXVWuRot1bvkApuejibtHrN3pw3mQwAoNHQ7fj6Oz4nFOZ/CAAIBRp7ABNXBAAUcwcABwSGaHJzABUACwYAmwIKk3AADFcCnKULAJ6gGwkfrh8BAQ8XDrEJbmIWEB4YERgYAwO/wB1nQg0SSMpdUiAcz9DRz0EAOw==) !important
}
.filelinks .au {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQeAH5FEE4rCnVADyAgIJJQE7llF4tMEi8vLzU1NWE1DYhLEkVFRfDw8IODg+h+HVFRUeDg4FgwC5pUE5CQkGs7DtDQ0D8/P6GhoZtVFLKyslRUVPaGH////wAAAP///wAAACH5BAEAAB4ALAAAAAASABAAAAV4oCd6XWme3ah2W+u6pSqy79tx6VrbZabvNt+IBmx1MpqkcsnUHDWXC4eDwVCt1ewzOgUQOIpvWIuUNm4ATiK9JkOnUwonIJgL3NLHLRCZCuhuGhYDhAMHBwgIBwtKRyIVEx0SBgUFBpQOMEIMECiePTIeGaOkpaMhADs=) !important
}
.filelinks .avi {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQcAJQ0mTo6OiAgIEgZS2QjaXIodl0hYSoqKj8/P1YeWk8cUmsmcPDw8IODg9DQ0ODg4JCQkEAXQ1FRUWYkajkUPKGhoXIod7KyslRUVLVAvP///wAAAP///wAAAAAAAAAAACH5BAEAABwALAAAAAASABAAAAV7ICdyW2me26huWeu6pSqy77tp6Vrb5aXvNt+IBmxtLpikcsnEHDGVikZjsVCv1eozOjUsNAQweKFFShs3g2awXhvK0OlUodBQKPYEXCq5UdgUEXlwGAgChwIBAQeKBwhJRyIOEBsFEwAABZiaRkIMDyihPTIcF6anqKYhADs=) !important
}
.filelinks .bmp {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAb1BMVEWhoaEaPRcpYiUqKioYNxU2fzASKxAoXCMydSyoqKgVMRM6OjolViGGhobQ0NA1NTUgShwgICAvLy8/Pz9KSkpwcHA9PT2AgIAlJSUlWCGDg4MiUB7w8PAqYiUQJQ6ysrJUVFRCnDv///8AAAD///+JUKjsAAAAJXRSTlP///////////////////////////////////////////////8AP89CTwAAAIdJREFUGNNtjtsOgjAQREsvCKJcvSsFZvv/3+gujZFUT3aS9mQeRgWGvvBPrWr5IC5VoN8WTYli+VfNCaIUgHHk4/AzqgdhB7kDni3K2LItLAsrraOoCyGDzznwns6xtc+QS0Rxax66zjSNqU6VMbeeSt5VX+leFNotTmvt1qmvmrbE9SFMG969riBmPWKaEQAAAABJRU5ErkJggg==) !important
}
.filelinks .cdr {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAbFBMVEUvLy8qYiU1NTUQJQ4ydSwYNxUiUB55eXmcnJw2fzAlWCElJSUSKxCoqKjw8PAVMRORkZEoXCM6OjpFRUUlViGYmJgpYiUdRRohTh7AwMBbW1sdRBqhoaEgShyysrJUVFRCnDv///8AAAD///9wVs7zAAAAJHRSTlP//////////////////////////////////////////////wBYLA0NAAAAhElEQVQY023OyQ7CMBAD0OkSSqELlB2aFjv//49MUkVUAR8szZMPI07Db/SSQO8YbymBvytOCSn+pTmJp3EEsgyxAuFCHLGxSy1U0Vj0DayuDFtPT+KFxsCgKMCtUgWc/cD2keaT5MOQ7yUX0eJB/+oe3JXl/aZ1retAruM6bfjeuWmVDwuEH0FS7hydAAAAAElFTkSuQmCC) !important
}
.filelinks .css {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAZlBMVEUqIWE0KHeoqKgaFDwxJnAhGUsvLy8uJGodF0NFRUU1NTWcnJw+MI4pIF5DNJkqKio/Pz86Ojp5eXkuI2kzKHbw8PBbW1uYmJjAwMAkHFKhoaEnHlqysrJUVFRSQLz///8AAAD///8TFlYgAAAAInRSTlP///////////////////////////////////////////8ADdDDcQAAAIVJREFUGNNtjukOgkAMBrtyCHggIB4U/Nr3f0nbJUayOj8m2Um7KakhX+xFMb0+eEsT5HdK5iRZ/JuWBE/TBIQQ4DbFhLsgR05MLtl56qXiAcgKMsnB003w5CIDkylO9cDA9ksV5Wmpy6br6kvZNi5bVB0fsj+er6dVNmWXjrJlvV513vAGmdcdNmMkQQYAAAAASUVORK5CYII=) !important
}
.filelinks .csv {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP/MMzo6OmVRFI1xHFtJEtCmKkVFRSoqKqCAIG9ZFnl5eZBzHTU1NfDw8Jh5HsCaJoNpGi8vL5iYmD8/P4BmGsDAwPDAMFtbW6GhoaGBIHlhGFRUVLKysv///wAAAFFBECH5BAUAACAALAAAAAASABAAAAaNQJAQ5Ckaj56h0gNoOp1FpZD5fHo6yWXVWuRot1bvkApuejibtHrN3pw3GEynk6nP6fjMWy65OjoOEBoQHQOFex0KHgQahh0fAh2RAogXVwkaAh8dGgmPH3sKcwMad4ylHwRvGwYRDAEBBhMRBwwGAQcBZ0INFR4LDwUIFMAWwgW7vEjLXVIgHNDR0tBBADs=) !important
}
.filelinks .doc {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQeAC4kai8vL6GhoRoUPD4wjjEmcJycnCohYSEZS0g4paioqNDQ0PDw8EdHR4CAgD8/PyUlJYODgzo6OlFRUS4jaTU1NSceWjQodx0XQ7KyslRUVFJAvP///wAAAP///wAAACH5BAEAAB4ALAAAAAASABAAAAV+oCd6XWme3ah2W+u6pSqy79tx6VrbZabvNt+IBmx1MpqkcsnUHDUCjvRCnVY5l2c0citwCofvN6zlTG4WjgWjVmMwHQWU07ixMQjOPd8xzKUWAwOAglIUfUkPEAEVjIyNkBJ9IgsOHQAECQQAmJqccSIMCyikPTIeGamqq6khADs=) !important
}
.filelinks .dtd {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAaVBMVEU0KHehoaEvLy8aFDw/Pz8dF0MxJnAqIWFDNJkUDy01NTUuJGoXEjTQ0NAlJSU+MI6Dg4MhGUtHR0cpIF7w8PAqKiokHFOAgIBFRUVRUVEzKHZNPLEnHlpUVFSysrJSQLz///8AAAD///+AN7nEAAAAI3RSTlP/////////////////////////////////////////////AGYpg5YAAACBSURBVBjTbY6LDoMgDEWZAuLUufez01v+/yNHS8wM2wlpbk+aUhMT/CV1RtW8IK5U4N8pngqV5F/1LhC1AWCMFA1Z7Rnegxo0BJ/Vg6VvHeoelNWR4QjtAb2DW3ZRTUhPgv5od9W2utuL1aB3DTfuxld4hnC6dqOq88Br8vUxTis+MRseP7Ro/zEAAAAASUVORK5CYII=) !important
}
.filelinks .eps {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAb1BMVEWhoaEqYiUaPRciUB4QJQ4/Pz8pYiUYNxUVMRMvLy8lViEoXCNPT08lJSXQ0NBFRUXw8PAhTh4qKiqDg4M1NTWAgIAgICAlWCE6OjoubCk6iTQ2fzA9PT0ydSwgShxUVFSysrJCnDv///8AAAD////ORdN9AAAAJXRSTlP///////////////////////////////////////////////8AP89CTwAAAIZJREFUGNNtzgkOgyAQBVAEQVzbavdllBnuf8bCUFND+xNIePzACB9C34STYHJrouWE9NuiJaOAf2nOEkkgYhFXwXuiiRQqwBZbBerTIhnuK2gQrUz0JMCytBKkRVjfagJVwFX+UZ97fe3rXdfpejzyXMOJzM08nLubw+XFtB9omzS998smb1OuICyvDIbmAAAAAElFTkSuQmCC) !important
}
.filelinks .exe {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///6GhoT8/P14LAmYLAi8vLyAgICUlJTcGAUcIAnYNA9DQ0ICAgIkPAyoqKk9PT64TBGMLAvDw8FcKAoODg1YKAj09PS8FAXwOA04JAn0OA1RUVLKyssYWBAAAAG4MAyH5BAUAACAALAAAAAASABAAAAaNQJAQ5Ckaj56h0tNpOp1FpZD5fHoAyWXVWuRot1bvkApuejibtHrN3pw3AYBcA6DT5xrNO07xEAAfgAAEAwQKemhxWBkVABkZcggZH4hwABYeAwAJmwAXCAOHe3KCkJBylJUbAgYHAgIFDgUFrQIPbmILDB4YDRi/GBETGBAdZ0ISC0jLXVIgHNDR0tBBADs=) !important
}
.filelinks .fh3 {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAbFBMVEWhoaFOCQIvBQF8DgM/Pz9eCwIvLy8lJSWiEgN2DQM3BgE9PT1HCAJWCgJmCwI1NTWVEQNPT0+Dg4O6FQTg4OBwDAKgoKBKSko6OjrQ0NCJDwPw8PBuDAN9DgNUVFSysrLGFgT///8AAAD///+YjtQhAAAAJHRSTlP//////////////////////////////////////////////wBYLA0NAAAAhklEQVQY023O6Q6DIBBGUREEsS7dV1C/4f3fsSPU1NDekJA5mR9TBI6+8VREmtcWywn0u0VTRox/acxaqADg4fnx732iI/VwFs71sB8CCd6E6NBWNtGOKjQtmq6CcCs5lCVKXkw0KjMclNHa3JUebvGux5XmWta1fMrL/hTpdaZt6foQpk1vBJkfZkscx0MAAAAASUVORK5CYII=) !important
}
.filelinks .flash {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQANUoAHAMAqGhoV4LAmMLAmYLAjU1NSAgIHYNA4kPA24MA/Dw8JycnNDQ0C8vLzo6OiUlJT8HAkdHR0cIAj8/PxUVFXBwcE5OTjcGATMzM6CgoIODg0NDQ2VlZU4JAj09PSoqKnwOA+Dg4LKysn0OA1RUVMYWBP///wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACgALAAAAAASABAAAAaVQJQQdSoaj6eh8lRqOp1FpZD5fJ5MyWXVWhRpt1bvkApunkSktHrNJp1JgfhpRK/bR2+TKWCq90d6gIBoehomCQcmiYkEBIcmCyQmEREmHY56AgImEnomFZIYHpkmEKV6nRcmFiQTDwUOrw4GFAYFDR8NBicbKAwZDCcDAAgAw8UDIAAnHCgKIQpI0kULUigi2Nna2EEAOw==) !important
}
.filelinks .folder {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAJEDALKyshEQDtzRsP///yH5BAEAAAMALAAAAAASABAAAAIxXI4xy20CoXLtRJnyu5wHEHSiBI7iF5peqV5o67Kw8M60DNeznoPZnwEMAMSi8UgsAAA7) !important
}
.filelinks .gif {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQfABUxEyliJRo9FyJQHiVWISoqKiBKHC8vLyhcI3l5eSUlJRAlDhIrEPDw8DU1NTZ/ME9PT0VFRSFOHltbW8DAwB1FGpiYmCAgIKGhoSpiJbKyslRUVEKcO////wAAAP///yH5BAEAAB8ALAAAAAASABAAAAV94Cd+Xmme3qh6XOu6pSqy7+t16VrbpabvNt+IBmx5NJukcsncHDcYTGea6VSpmexTavEYBh1CZ/BFaJHSxFTQYXcYAsIZ2pnc2IDOgmEwZ7ZqU3l5CwBycxsRBwcKFwWPCg4QSkciDRQeFRIBnAEPQSMNKKM9Mh8aqKmqqCEAOw==) !important
}
.filelinks .htm {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAbFBMVEU0KHc/Pz8UDy0hGUsuI2knHlozKHaGhoYXEjQlJSUaFDwvLy8kHFIdF0M6OjoqKiqoqKiRkZGNjY3Q0NDg4OAxJnA9PT1HR0fw8PCgoKBKSkoqIWGhoaFDNJmysrJUVFRSQLz///8AAAD///82ccbVAAAAJHRSTlP//////////////////////////////////////////////wBYLA0NAAAAh0lEQVQY023O6Q6CMBBG0a5aQBD3jQLfzPu/o1MaI6neTH/0pGlGsUTf5KYWmj8lKwn0+4rGggT/0lSUaMBAUIAcpRQyHQnOwb+AC0B9IsnuYFq0cKBDohshCFmYYEHbRFeC8ag9Qp1p0lXTVFrvZbpnJ8R8elDcxDxzlL+Y72da1y/bM4+r3uOrHzgmxjvCAAAAAElFTkSuQmCC) !important
}
.filelinks .html {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///z8/PzModqGhoSEZSy4jaSUlJR0XQy8vLyAgIKioqCoqKiQcUuDg4PDw8JycnJCQkCkgXiohYYCAgCceWhUVFdDQ0EdHR42NjUM0mTQod7KyslRUVFJAvAAAABQPLSH5BAUAACAALAAAAAASABAAAAaMQJAQ5Ckaj56h0tNpOp1FpZD5fHoAyWXVWtxot1bvkApuejactHrN5pw5g7hHQ6/bNW/AAAvoawB0gIB5GFgFABQSfX2HBXl9HgwAHwcABwSWAAR5F1iSH5gfH5OQaAEJFQkBAQurBggIBgsGHgogFhATHhkZAry+vQIRHg8gDg0NSMpFtlIbz9DRz0EAOw==) !important
}
.filelinks .ico {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///y8vLyVYITJ1LDo6Oho9FzU1NSJQHlFRUdDQ0BUxE/Dw8D8/PyVWIT6TOODg4DqJNI2NjWVlZaCgoCoqKkVFRR1EGqGhoRg3FSBKHCpiJVRUVLKyskKcOwAAAChcIyH5BAUAACAALAAAAAASABAAQAaKQJAQ5Ckaj57h5gKIAD6H5zP60Wg8nCGxw+16O9jNhkEJBAyE9NkQqGywWs/X6wEkxfi8XhxmIgAYBQAWgIIYB1dZIAsPSI5FikJyc1xFWpKUlZBxmV19ABd1AFYaAKOknxIAGRgYGasYq1WfCKINGYKrChmJQgkTHgMCAgMQwsQOYJFDHM3Oz81BADs=) !important
}
.filelinks .inc {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAb1BMVEX///8xJnAdF0M+MI46OjoqKionHloXEjRDNJkuJGo1NTUaFDxRUVEhGUszKHYUDy0vLy/g4ODQ0NCNjY0kHFLw8PBlZWU/Pz+goKBKSkoqIWFNPLElJSWhoaE0KHdUVFSysrJSQLwAAAAuI2kAAADZs/xiAAAAJXRSTlP///////////////////////////////////////////////8AP89CTwAAAIJJREFUGNNtztkSgiAAheHD7pJL2V6CAe//jIFoOdQ/cME3XBz4kP0WXpjptRYtJ9jfX3bKKOBfMlmRRozQOp5wtU40AAQO5A6y0hkUaCAplWShHToFBdrg6D6kanQ14GQicxFC8OrZ9xXnNzPvOlxtWxQtY2XJHmnqaW+3pfXeT5ve8hYdNliaSnQAAAAASUVORK5CYII=) !important
}
.filelinks .java {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQfABoUPDo6OiAgIEM0mTEmcC4kaiEZSyceWi8vL/Dw8BUVFSkgXuDg4C4jacDAwFFRUXl5eY2NjTModmVlZbCwsB0XQ09PTyoqKqGhoTQod1RUVLKyslJAvP///wAAAP///yH5BAEAAB8ALAAAAAASABAAAAWC4Cd+Xmme3qh6XOu6pSqy7+t16Vrb5abvNt+IBmx5NpqkcsnUHDWYqCdDrVozT0wHc6N2Ml8wNduJdAjnTkOdJpAnnfjh0DEY4p3DswN5dAB/dwAVf39PFgEICAIKAgEBF4+MAkcfDBQOHgULBQMDEp6bBZUJDAkoqD0yHxutrq+tIQA7) !important
}
.filelinks .jpg {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///ypiJRo9FxAlDhg3FRUxEyJQHkVFRTJ1LCUlJdDQ0ChcI4CAgE9PTx1EGvDw8CliJTZ/MD6TOCFOHh1FGiVWISAgICVYISoqKi8vL6GhoVRUVLKyskKcOwAAACBKHCH5BAUAACAALAAAAAASABAAAAaIQJAQ5Ckaj56h0tNpOp1FpZD5fHoAyWXVWuRot1bvkApuejibtHrN3pw3mjggAKgH7vX5O64BVAAGHwALg4EGe3ICeQSCggACewB9BQADAwWKBASPkViUlowOeQVvGwcZGBkZCRkHDaerFmdCCgweCAgQEU0SCBcUE7MgDwpIxl1SIBzLzM3LQQA7) !important
}
.filelinks .js {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQdAE4JAj8HAl4LAnYNAy8vL9DQ0G4MA2YLApURAyoqKj8/P7oVBEcIAvDw8GMLAnAMAjU1NaISA3wOA4CAgEpKSkVFRaGhobKysn0OA1RUVMYWBP///wAAAP///wAAAAAAACH5BAEAAB0ALAAAAAASABAAAAV3YCd2XGme3KhyWuu6pSqy78tt6Vrb5aXvNt+IBmxxLpmkcsnMHDOW6AaD2VipWMwzatkYNoOD4DDIbqUAgTUAMJiR3S4bENgIytitlVO3Mu5vSRUECQQKCoQQFEtHIgUTHAgREg4PCAtBIg0FKJ09Mh0XoqOkoiEAOw==) !important
}
.filelinks .max {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAbFBMVEUgICBhbSYqKipLVB2RkZFpdik0OxU8QxioqKg6OjpwfixDTBtqeCovLy9bW1vw8PDg4OAtMhI/Pz9SXCA9PT1HR0ecnJzQ0NCgoKBKSkqZrj2hoaF3hi92hi+ysrJUVFS81Uv///8AAAD////cqhsVAAAAJHRSTlP//////////////////////////////////////////////wBYLA0NAAAAhElEQVQY023OiQ6DIBREUZa6tnbfBXUe//+PDpimhvYGEjiQgApMvnGnEk2fouUE+b0lQ0bEvzRmRerRi4NziNNhIQhQtIBuUUDqSHuuttAltIaVTaSrWJzALjxZ6EYqUXHAQu588WyaV2OMYl1neCuEx1Omt/e7NHyiw1HW1en3IQyrZjBZH7dLLBlTAAAAAElFTkSuQmCC) !important
}
.filelinks .mid {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAdVBMVEUqKiqaVBNOKwp1QA9YMAuISxJhNQ1EJQk6OjovLy+SUBN+RRCgoKBsOw5FRUVKSkrJbRklJSXg4OA1NTU9PT06IAh7QxC5ZRc/Pz9bW1vQ0NDofh2LTBJHR0fw8PChoaGbVRRUVFSysrL2hh////8AAAD///+PATqLAAAAJ3RSTlP//////////////////////////////////////////////////wCDVpfZAAAAhElEQVQY023O5w7DIAxGUQo0ZHRkdY/Q5DPv/4gx0KoR7fUvHyFh4Tj6xpsINH3ylhLo9xWNCTH+pVeSpwEDWfgBrLWRQMCap1Io33ThVSODNFBlpJ4yHCBhNHQV6cFkmAAlVfjxLPJ9Lrim6IpduOu6oaleccft/XQL9GxpWbzeuXHRDP48InjWOKt1AAAAAElFTkSuQmCC) !important
}
.filelinks .mov {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQANUlAEgZSzkUPGQjaVYeWjo6Oi8vLyoqKogwjjU1NZQ0mZGRkaioqHIodmsmcGYkaj8/P1tbW10hYdDQ0Ko8seDg4EpKSvDw8CsPLT09PUdHR4aGhjISNKCgoEAXQ6GhoXIod7KyslRUVLVAvP///wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACUALAAAAAASABAAAAaSwJKwRCoaj6ShkiRqOp1FpZD5fJJGyWXVWgRpt1bvkApukkChtHrNDp1DnpGH9Bl96vZ6/R3HjkYCIw0RgoBYC3AjEIYdIwONAyMAWAqJGCSTFyMdkx2NASQaiRmYIxsBfwMBnySVIQ8GBBUEBgUFCAgFD7QkC0ISHEwJDAcHDg4HE8NnQhYUSNBdUiUg1dbX1UEAOw==) !important
}
.filelinks .mpeg {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPUpAP///0AXQysPLVYeWkgZS3IodioqKi8vL3BwcF0hYTo6OpQ0mWsmcJGRkVlZWWQjaUVFRTkUPKo8sUdHR0pKSqCgoIgwjiUlJeDg4E9PT08cUj8/Pz09PTISNENDQ9DQ0GYkaltbW/Dw8KGhobKyslRUVLVAvAAAAHIodwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUAACkALAAAAAASABAAQAaTwJQwdSoaj6dhaQQAnJoPQGIAYFQTp8aQaOp6v6YTqVTaGBQUhcFwOUAykMPh5NmewN9nkszv+8liSwAcJwQAAocCEYYBAQAIQiIYSJRFWkN3eF1FW0KZmkYkdpp5Y0wjJygAqk0ork0ApgAhAFGOTQFUVI+CE4UAHYm5GrAOQh8VdwsFzAtdEhYgJ8adJNbX2NZBADs=) !important
}
.filelinks .mpg {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPUpAP///0AXQysPLVYeWkgZS3IodioqKi8vL3BwcF0hYTo6OpQ0mWsmcJGRkVlZWWQjaUVFRTkUPKo8sUdHR0pKSqCgoIgwjiUlJeDg4E9PT08cUj8/Pz09PTISNENDQ9DQ0GYkaltbW/Dw8KGhobKyslRUVLVAvAAAAHIodwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUAACkALAAAAAASABAAQAaTwJQwdSoaj6dhaQQAnJoPQGIAYFQTp8aQaOp6v6YTqVTaGBQUhcFwOUAykMPh5NmewN9nkszv+8liSwAcJwQAAocCEYYBAQAIQiIYSJRFWkN3eF1FW0KZmkYkdpp5Y0wjJygAqk0ork0ApgAhAFGOTQFUVI+CE4UAHYm5GrAOQh8VdwsFzAtdEhYgJ8adJNbX2NZBADs=) !important
}
.filelinks .pcd {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAclBMVEWhoaE1NTUydSwoXCMvLy8lWCEaPRclJSUiUB6RkZESKxA6OjqoqKgVMRM9PT1FRUUdRBqgoKA+kzhPT08lViHg4OAdRRohTh6GhobQ0NDw8PA/Pz+Dg4MqYiUYNxUgShyysrJUVFRCnDv///8AAAD///+A4Ej2AAAAJnRSTlP/////////////////////////////////////////////////AKd6gbwAAACMSURBVBjTbY7bEoMgDEQBQa3Wau9XwXaT///FhjJOHdrzsBPO7IQoFuiLvNRHvWaiyxXot0VTpkT+Vc+MqBSAcRxjxCmpB6FAUUvUAXPLBwQv0TWgdVQb6kr4EgMaD1ol5cMAHIL0A13kx3tl+31vddvqymppMV+3ctfOOGfM+eRkF/PtSEvS9czTgjd10iG2G+C5rAAAAABJRU5ErkJggg==) !important
}
.filelinks .pcx {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAKL/AP///8bDxoSChAAAAMDAwAAAAAAAAAAAACH5BAEAAAQALAAAAAASABAAAANASDrcPiouQGsdQU5rmx5cCBFP+SxCqq7rOAiUGgMp7cI4Let3jO+pnmzlEwJ1NhRrGVyYnp8QZxQBSS+fp0ORAAA7) !important
}
.filelinks .pdf {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAaVBMVEV9DgOhoaE3BgFHCAI/BwIvLy9mCwIlJSVPT081NTWVEQMvBQGiEgM/Pz92DQNOCQI9PT1wDAJFRUXQ0NB8DgOgoKCDg4NuDAPg4OBXCgLw8PBjCwJeCwJUVFSysrLGFgT///8AAAD////9oqezAAAAI3RSTlP/////////////////////////////////////////////AGYpg5YAAACASURBVBjTbY7ZDoMwDATTHNwtpffh0nX+/yMxiUJRyjys5NFKXuUF/iGXCuqbmF2uwP8tHjMlclN9Mma1A6DUElHdGAcUFKJILUOwGgToPqoj2x7awKDVlJS0ALJo7T183JfuVEnUzpV1FXadr7Krez+Hprl0cerrwWvieu/HFRMpah5M6OnNEwAAAABJRU5ErkJggg==) !important
}
.filelinks .png {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQANUnAKGhoRg3FS8vLyBKHBIrEBUxEyhcIyUlJTZ/MD09PT8/PzJ1LKioqBAlDiliJZGRkZycnBo9F4aGhvDw8NDQ0ODg4CVYIaCgoCJQHioqKkVFRR1FGjo6Ok9PTzU1NSVWIYODgypiJbKyslRUVEKcO////wAAAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACcALAAAAAASABAAAAaPwJPwZCoaj6ah0kRqOp1FpZD5fJpKyWXVWhRpt1bvkApumkSjtHrNHp1HgJI8FCrR7XX5Ow66GuR/HyUGGAMmDHByJQEDi3IRJY1YEIkJJgWQDQQlmwEBk5UmjJwFJQ2leg9pCgcCGh0KGRwerQICByYSQhQXVAgOCL8LCxYbJg9CExVIzEUMUici0tPU0kEAOw==) !important
}
.filelinks .ps {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAaVBMVEX///+hoaEaFDwhGUsdF0M/Pz8qIWFPT08vLy8uI2k9PT0pIF7g4OAuJGo+MI7Q0NAzKHYqKipFRUWgoKCDg4MlJSVIOKVNPLE1NTXw8PBKSkonHlo0KHeysrJUVFRSQLwAAAAxJnAAAABnzh4yAAAAI3RSTlP/////////////////////////////////////////////AGYpg5YAAAB7SURBVBjTbc5ZDsMgDEXRV8jYuUlnO4nx/hdZEkSKaO+HJY4sYahPvvkXFppis+UE+d2SISOPf2nMmmkDgJnDZA50FTi4iiq3ElBQCxjbrrQVY8kakEuooGU10ljemq6uy+byfIcfVU+9v+t+3h2Oj3jqay9p4XrVIekDTw4c+H66RscAAAAASUVORK5CYII=) !important
}
.filelinks .psd {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAclBMVEUqYiWhoaEVMRMYNxUiUB4vLy8aPRc1NTUlWCGRkZGoqKgydSxPT08lJSUSKxA9PT0oXCM/Pz8hTh4pYiWGhoYdRRrg4ODw8PAlViFFRUWgoKA6iTQqKiqDg4PQ0NAgShyysrJUVFRCnDv///8AAAD////0bTh8AAAAJnRSTlP/////////////////////////////////////////////////AKd6gbwAAACLSURBVBjTbY4JDoJADEXHWQBlEXBfi/72/le0AyGS0Ze0SV9+2hpR+ItOZlTvmehSBf5N8ZAolX/VKyGqFQBjTOyxJvVgtGg9eXjCnHJ0BmwG24A3UW3ZZpRZEBoHXk/K0RjVRrzXi10dLlXVhXue1yHXlMjzqn/ddn1Rlv2h0F0ipyMvmb4XGRZ8APjbIQi39gj3AAAAAElFTkSuQmCC) !important
}
.filelinks .rtf {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQfAKGhoSceWiohYRQPLTEmcD8/PyEZSzModi4jaRcSNCUlJR0XQxoUPDU1NT09PS8vL/Dw8EVFReDg4NDQ0IODg09PTyoqKqCgoDQod0M0mVRUVLKyslJAvP///wAAAP///yH5BAEAAB8ALAAAAAASABAAAAWB4Cd+Xmme3qh6XOu6pSqy7+t16Vrb5abvNt+IBmx5NpqkcsnUHDWAjhSDkXaqU8wzSrkRCJ2AoCMQE7bWhbgzWEgTBgTacTOMBwZ2InBGRukdcR0MAWwMCFpIGgUKDw0PEQUWBYwNFU5CExceGQcZnZ+eRkIQEiinPTIfG6ytrqwhADs=) !important
}
.filelinks .sgml {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQfADModikgXiUlJSoqKiEZSxQPLSohYaioqEM0mYODgx0XQyQcUi4jaT4wjjU1NfDw8JycnJCQkODg4NDQ0CceWjEmcEpKSi8vL6GhoTQod7KyslRUVFJAvP///wAAAP///yH5BAEAAB8ALAAAAAASABAAAAWC4Cd+Xmme3qh6XOu6pSqy7+t16VrbpabvNt+IBmx5NJukcsncHDeYqCdDrVozT0wHl9l2qZ1vtpO4VQyG7ZbRYWQTuA6lQ+go6gr6GLfY9gsFHYE4SBsWFwMOiBcXAowCAwIeByISER4NDQEBAAAICJ0BHhAiDxMoqCWUMhqtrq+tIQA7) !important
}
.filelinks .swf {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPUmAP///z8HAkcIAnwOAyoqKqISAzo6Om4MA04JApiYmC8FAaioqDU1NWYLAjcGAZycnPDw8JURA3AMAj8/P+Dg4I2NjaCgoFYKAk9PT9DQ0C8vL0VFRSUlJboVBGVlZaGhoX0OA7KyslRUVMYWBAAAAF4LAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUAACYALAAAAAASABAAQAaSQJPQRCoaj6Sh6ANIkEoNwAEAkgIaJdJiSBx5v+ARKSQSYSYaAmNjILgNBg5jzCWFwSRAsszv+8tjSxUeeSUXAAKIAQAKDlpCEBlIk0UhdXdfRVxCdphilZeeXoEfTABUVCBVVaekCacBCACyU7IAjg9Lp4glJQCLAYkKAXQmFBYkEhEdBQPOBc0FxVwh1dbX1UEAOw==) !important
}
.filelinks .sxc {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQfAJURAy8vL3wOA3AMAm4MAzo6OjU1NXYNA5iYmGYLAioqKlYKAo2NjdDQ0PDw8KCgoODg4D8/Pz8HAmVlZU9PT0cIAqGhoV4LAn0OA04JAlRUVLKyssYWBP///wAAAP///yH5BAEAAB8ALAAAAAASABAAAAWE4Cd+Xmme3qh6XOu6pSqy7+t16Vrb5abvNt+IBmx5NpqkcsnUHDUWS2eK6VQxVSvmKUV4LokOQdw5hA9cxFSSWXQymc6lUrlwGZPbpVPh8+MLXFN8e3FwUwR2SBoUEQEKBgWPAQaUBQVHIhAPHgMAAAKhnwOemR8ODSiqPTIfG6+wsa8hADs=) !important
}
.filelinks .sxw {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAaVBMVEUqKipuDAM/BwJeCwIvLy8/Pz+iEgNWCgKVEQOoqKg6OjqRkZGYmJhlZWWNjY1wDAJmCwI1NTWgoKBPT0/g4ODw8PDQ0NCGhoZHCAJ8DgOhoaFOCQJ9DgOysrJUVFTGFgT///8AAAD///+LzkU5AAAAI3RSTlP/////////////////////////////////////////////AGYpg5YAAACKSURBVBjTbc6JDoMgEATQLaC11h7aCwR1lv//yC6YpoZ2NiHhZSBLUcLfyI0yLZ8kKwn82+KpIMG/NBdJNI4AwjohIBM61lfs8ggdhDpA+T28hxfko9D5xNCwsDYd/EoPAaulIU0FlVrzrTLUt4ZM1RKR/BXjfeBL0zjn6lqOvOrjydus28c4bfIGsAoe/z6E3LsAAAAASUVORK5CYII=) !important
}
.filelinks .tga {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///yBKHCVYIShcIxg3FRo9FyliJRUxE5iYmBIrEC8vLz8/PyoqKjJ1LI2NjUVFRfDw8DZ/MD6TONDQ0CUlJR1EGh1FGiFOHqGhoSJQHipiJVRUVLKyskKcOwAAACAgICH5BAUAACAALAAAAAASABAAAAaJQJAQ5Ckaj56h0tNpOp1FpZD5fHoAyWXVWuRot1bvkApuejibtHrN3pw3GIBco5ED6HPNG4PAZgADGQEZA3KEew5YBAABcgUAGQmQe30ejwSLj3YVe3EeAY1yBwAHkgdvaQsMCw8KChQfDB+zH2dDEx4REg0CFhcGAgbAtkIQSMddUiAczM3OzEEAOw==) !important
}
.filelinks .tif {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQbACoqKho9FyliJSJQHiBKHD8/PzZ/MBUxEyVWIZiYmChcIxIrEBAlDvDw8CUlJTU1NU9PTxg3FdDQ0I2NjaGhoSpiJbKyslRUVEKcO////wAAAP///wAAAAAAAAAAAAAAACH5BAEAABsALAAAAAASABAAAAV54CZuWmme2qhqWOu6pSqy76tl6VrbpaXvNt+IBmxpLJekcsm8HC+UjLSSoU4r2MqTksANMojMgDBQZLcTXCQTkC4CiDOSi2sfMowFwYzdRjUEGXcMB3FySgUABYkADg8QS0cjEhoGBgKYBjWSIg0onz0yGxakpaakIQA7) !important
}
.filelinks .ttf {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQbAD8/P2+dx0ZjfiAuOkxqhzZMYVFykVV4mSs9TSY1RDFEV5iYmCoqKjU1NfDw8I2NjSUlJU9PT9DQ0KGhoUFbdFZ5mrKyslRUVIjA9P///wAAAP///wAAAAAAAAAAAAAAACH5BAEAABsALAAAAAASABAAAAWB4CZuWmme2qhqWOu6pSqy76tl6VrbpaXvNt+IBmxpLJekcsm8HC+TjLQizVCnlcpzssAJCBmKICMQG7TIyQOnoGQGCmmiQEBDuxr6u/BOUM5bURoUVAhuAwh1dkkADAAXjQAAEA0RSUcjEhoBGAEHAZ6cRkIbDiinPTIbFqytrqwhADs=) !important
}
.filelinks .txt {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQaAEM0mS4jaSceWj8/Px0XQzModioqKpiYmDEmcC8vLxQPLUVFRSohYSQcUhoUPI2NjfDw8NDQ0KGhoSEZSzQod7KyslRUVFJAvP///wAAAP///wAAAAAAAAAAAAAAAAAAACH5BAEAABoALAAAAAASABAAAAWCoCZqWWme2ahmV+u6pSqy75th6VrbZaXvNt+IBmxlKpakcsm0HC0SjJSCoVKnFMpTcsAxMAFwWMBAaJGSB47QwEwmbQUhcIZ2MxMMQS/AKCZmW1EZfXkTYQ4CWU9JAwYDCwkGCQuOA0lHIxEZAAAFn50FAEZCGhAoqD0yGhWtrq+tIQA7) !important
}
.filelinks .wav {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAMQfAJpUEzo6OsltGSAgICoqKmE1DYhLEn5FEJJQE1gwC5GRkWs7DkQlCYtMEqioqE9PT2VlZYaGhtDQ0I2NjfDw8Hl5eYODg6GhoU4rCptVFLKyslRUVPaGH////wAAAP///yH5BAEAAB8ALAAAAAASABAAAAWG4Cd+Xmme3qh6XOu6pSqy7+t16VrbpabvNt+IBmx5NJukcsncHDeXzsWT6WSq1mr1GZ1YOwZEp3MQG3AOaAcC7hTIDLIbp4BWcJ0EZjxeLDoYHhFQFngYCYBxGG+BdRsPAQSSAQEDlgOUBB4OIxIeAAACAg2gDaIARyMUKKw9Mh8asbKzsSEAOw==) !important
}
.filelinks .wrl {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAZlBMVEV2hi8tMhIvLy+Zrj1LVB0qKio8Qxhpdik6OjpDTBtaZSNwfiwlJSVhbSaoqKg1NTV5eXmcnJyDg4ONjY3Q0NDw8PBTXiFPT09eayZlZWWhoaF3hi+ysrJUVFS81Uv///8AAAD////UIHPAAAAAInRSTlP///////////////////////////////////////////8ADdDDcQAAAIJJREFUGNNtzosOgyAMhWFEQUDd/Spup3v/l1xbssyw/SEh/dIEzIujbzwZpecnsZpAv1u0VMT4lx5VQjNmysgAMl+50JGhx5QwoB8K3Rk63ooJ3aS0AyF6NA27T0oHJh8LAfriNTjnQhjt1trR0kb+dSJj2laOuV1oL3SmdbrFLave9r8deMPJ9PkAAAAASUVORK5CYII=) !important
}
.filelinks .xls {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAbFBMVEUAAAAvLy95YRiggCCNcRxRQRCDaRpbSRLAmiZKSkpFRUWAZhoqKiqQcx01NTU/Pz/wwDDg4OBwWhaNjY1lZWVbW1slJSWgoKDQ0NDw8PCDg4OhoaGYeR6hgSBUVFSysrL/////zDNlURQAAAChxK8zAAAAJHRSTlP//////////////////////////////////////////////wBYLA0NAAAAhUlEQVQY023OhwoDIRBF0bFuTe9ZZ/dF//8fYyFkMbkg4mGQoRCjb+mV6fUpWU2g3ylaKor4l+aqRBMmMDgGxKvQCRraMZyV1mV6gjy8ZQcYr8vUBQ2MZO0NZJnCGT59E09TaO7FKMRV9N1OjNsu73W/kVLDUbVq2LT7TI8DrSvbh7CsegNYOBnE13PLPAAAAABJRU5ErkJggg==) !important
}
.filelinks .xml {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAaVBMVEX///8uI2kvLy8qKiodF0MXEjRFRUUxJnBDNJkUDy0aFDw6OjqNjY3w8PAqIWGgoKBlZWXQ0NApIF7g4OBbW1uDg4NKSkonHlokHFMlJSUzKHahoaE0KHdUVFSysrJSQLwAAAAhGUsAAAALP7e/AAAAI3RSTlP/////////////////////////////////////////////AGYpg5YAAACDSURBVBjTbc7rDoIwDIbhj40zKiqKWgZ0u/+LtGwQyeRN1qRP+mNwEv+SDZ7mrcViAv9f8RSR4CGNUQsNGGBgjAkz0AkJUEBmUgR6gi1SgRT2sl49ZKkyiwr1a6UrLLJaHgBPY660UrrpG60/Kvf/urVMROVcEt3f5Onc8b7we+emXV/RJxuZDpdaUAAAAABJRU5ErkJggg==) !important
}
.filelinks .xsl {
	BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAAclBMVEUhGUsnHlovLy8qIWEaFDwzKHY+MI41NTU/Pz9FRUUqKiopIF4dF0MxJnAuI2kuJGrQ0NBbW1ugoKDg4OBPT09lZWVIOKWNjY0kHFMlJSXw8PA5LIKDg4MkHFKhoaE0KHdUVFSysrJSQLz///8AAAD///9jOj1CAAAAJnRSTlP/////////////////////////////////////////////////AKd6gbwAAACGSURBVBjTbc5ZDsMgDEVRQyDz0HluSPrM/rdYIEWNaO8P4siyTNbF39yPAr1i3lIC/07xnJDDvzQleRoxwhgAxj3GLHRGjy4TGfruQw8wCUARKItTW7RPUhBQItIR5Fa1wu8LNFWylmUp66K4yuoQ7trsWN91M+R5c9GnQLc9r1uut3Ze9QZJxiFop12E4QAAAABJRU5ErkJggg==) !important
}
.filelinks .zip {
	BACKGROUND-IMAGE: url(data:image/gif;base64,R0lGODlhEgAQAPQgAP///6GhoXwOAy8FAV4LAioqKnYNA0cIAm4MA0VFRWYLAk4JAtDQ0PDw8I2NjTo6OoODg6ISA3l5eS8vL5iYmIkPAyUlJU9PT4CAgD8/P30OA7KyslRUVMYWBAAAAD8HAiH5BAUAACAALAAAAAASABAAQAaFQJAQ5Ckaj54hJ0CBABQAxJMAMGiuns2Q2Ol6v50sh5MoFDIPs2WSuIw52a0H/PUAku+8Pi8OACQeHwCCAwMfCwhYWiANDEiPRYtCc3RdRVuTlZaRcppefQChGgCjoleKSw53gguhAAcEVhqgoVSEA7CycSAMGB4CFQLCEWC7WxvIycrIQQA7) !important
}
.filelinks A:hover {
	TEXT-DECORATION: underline
}
IMG.tx-srfreecap-pi2-image {
	MARGIN-LEFT: 1em; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 1em
}
.tx-srfreecap-pi2-accessible-image {
	VERTICAL-ALIGN: middle
}
.tx-srfreecap-pi2-accessible-link {
	WIDTH: 10em; FLOAT: right; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 7em
}
.tx-srfreecap-pi2-cant-read {
	COLOR: #35006d; FONT-SIZE: 0.9em
}
.tx-srfreecap-pi2-cant-read A:link {
	BACKGROUND-COLOR: transparent; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.error {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: red; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: 1px solid; PADDING-TOP: 3px
}
.error UL LI {
	MARGIN-LEFT: 20px
}
.tx-ncpbsurveyfesimplestats-pi1 .barcontainer {
	Z-INDEX: 6; BORDER-BOTTOM: #000 1px solid; POSITION: relative; BORDER-LEFT: #000 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 100px; HEIGHT: 15px; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.tx-ncpbsurveyfesimplestats-pi1 .bar {
	Z-INDEX: 4; POSITION: absolute; BACKGROUND-COLOR: #ccf; HEIGHT: 15px; LEFT: 0px
}
A.wt_csstooltip {
	Z-INDEX: 240; POSITION: absolute; CURSOR: help
}
A.wt_csstooltip:hover {
	Z-INDEX: 250; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.wt_csstooltip DFN {
	Z-INDEX: 250; FONT-STYLE: normal; DISPLAY: none
}
A.wt_csstooltip:hover DFN {
	BACKGROUND-IMAGE: url(http://mipana.unipanamericana.edu.co/fileadmin/old_templates/imagenes/xtooltipo.png.pagespeed.ic.B4NyDi69E-.png); Z-INDEX: 2147483647; POSITION: absolute; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: none; BACKGROUND-COLOR: transparent; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px; COLOR: #000; FONT-SIZE: 11px; OVERFLOW: hidden; TOP: 1em; FONT-WEIGHT: normal; PADDING-TOP: 25px; LEFT: -5px
}
