{% extends '::base.html.twig' %}

{% block menu %}
    {% set origen = 'acceso_auditoria' %}
    {% include '::menu_principal.html.twig' %}
{% endblock menu %}

{% block body %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-list-alt"></i> Auditoria</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                {% if entities %}
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.audIpAcceso }}</td>
                                    <td>{% if entity.audFecha %}{{ entity.audFecha|date('Y-m-d') }}{% endif %}</td>
                                    <td STYLE='width:50% '>{{ entity.audAccion }}</td>
                                    <td>{{ entity.usuNombre }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    No se han registrado acciones auditables
                {% endif %}
            </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}